<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- add category form-->
<section class="products">
    <h1 class="heading"> New Category </h1>
    <span class="text-light">Use the below form to create a new Category</span>
        <div class="products-container">
            
            <%- include('include/_form') %>
        </div>

  </section>

<!-- add category form ends-->



  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- include footer -->