<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->

<!-- main site starts -->

<!--Home content section  -->

<section class="home-content">
    <div class="content">
      <h3> Organic Beauty</h3>
      <span> Natural and 100% Organic Products </span>
      <p>Ut sit sadipscing erat est sit takimata aliquyam justo amet, duo invidunt voluptua eirmod diam est diam, et diam dolor.</p>
      
      <a href="#" class="btn">Shop Now</a>
    </div>
    
</section>

<!--Home content section  ends-->

<!-- product section starts  -->
  <section class="products">
    <h1 class="heading"> Latest Products </h1>
      <div class="products-container">
        <div class="card-item">
            <div class="img-card"><img src="/img/skin-care.jpg" alt=""></div>
          
          <div class="card-content">
            <h3 class="card-header"> Créme</h3>
            <div class="price"> €12.99</div>
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
        </div>
        <div class="card-item">
            <div class="img-card"><img src="/img/natural-care.jpg" alt=""></div>
          
          <div class="card-content">
            <h3 class="card-header"> Créme</h3>
            <div class="price"> €12.99</div>
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
        </div>
        <div class="card-item">
            <div class="img-card"><img src="img/makeup.jpg" alt=""></div>
          
          <div class="card-content">
            <h3 class="card-header"> Créme</h3>
            <div class="price"> €12.99</div>
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
        </div>
        <div class="card-item">
            <div class="img-card"><img src="/img/make-up.jpg" alt=""></div>
          
          <div class="card-content">
            <h3 class="card-header"> Créme</h3>
            <div class="price"> €12.99</div>
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
        </div>
        
        
      </div>

  </section>

 <!-- product section ends -->



<!-- main site  -->
<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->
