<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
        <!-- header starts here  -->

            <header id="header">
                <a href="#" class="logo"><img src="/assets/img/logo.png" alt="logo of naturel beauty"></a>
                <div id="menu" class="fas fa-bars">
                    
                </div>
                <nav class="navbar" id="navLinks">
                    <a href="#home">Home</a>
                    <a href="#product">Products</a>
                    <a href="#category">Category</a>
                    <a href="#contact">Contacts</a>
                </nav>
          
            </header>
          <!-- header ends here  -->

      <!--Home content section  -->

        <section class="home-content">
            <div class="content">
              <h3> Organic Beauty</h3>
              <span> Natural and 100% Organic Products </span>
              <p>Ut sit sadipscing erat est sit takimata aliquyam justo amet, duo invidunt voluptua eirmod diam est diam, et diam dolor.</p>
              
              <a href="#" class="btn">Shop Now</a>
            </div>
            
        </section>

      <!--Home content section  ends-->

    <!-- product section starts  -->
          <section class="products">
            <h1 class="heading"> Latest Products </h1>
              <div class="products-container">
                <div class="card-item">
                    <div class="img-card"><img src="/assets/img/makeup.jpg" alt=""></div>
                  
                  <div class="card-content">
                    <h3 class="card-header"> Créme</h3>
                    <div class="price"> €12.99</div>
                    <div class="icons">
                      <a href="#" class="fas fa-heart"></a>
                      <a href="#" class="cart-btn">add to cart</a>
                      <a href="#" class="fas fa-share"></a>
                    </div>
                  </div>
                </div>
                <div class="card-item">
                    <div class="img-card"><img src="/assets/img/makeup.jpg" alt=""></div>
                  
                  <div class="card-content">
                    <h3 class="card-header"> Créme</h3>
                    <div class="price"> €12.99</div>
                    <div class="icons">
                      <a href="#" class="fas fa-heart"></a>
                      <a href="#" class="cart-btn">add to cart</a>
                      <a href="#" class="fas fa-share"></a>
                    </div>
                  </div>
                </div>
                <div class="card-item">
                    <div class="img-card"><img src="/assets/img/makeup.jpg" alt=""></div>
                  
                  <div class="card-content">
                    <h3 class="card-header"> Créme</h3>
                    <div class="price"> €12.99</div>
                    <div class="icons">
                      <a href="#" class="fas fa-heart"></a>
                      <a href="#" class="cart-btn">add to cart</a>
                      <a href="#" class="fas fa-share"></a>
                    </div>
                  </div>
                </div>
                <div class="card-item">
                    <div class="img-card"><img src="/assets/img/makeup.jpg" alt=""></div>
                  
                  <div class="card-content">
                    <h3 class="card-header"> Créme</h3>
                    <div class="price"> €12.99</div>
                    <div class="icons">
                      <a href="#" class="fas fa-heart"></a>
                      <a href="#" class="cart-btn">add to cart</a>
                      <a href="#" class="fas fa-share"></a>
                    </div>
                  </div>
                </div>
                
                
              </div>

          </section>

         <!-- product section ends -->


        <!-- footer starts -->
    <footer class="footer-section">
      <div class="box-container">
        
        <div class="box">
          <h3> Quick links </h3>
          <a href="#" class="btn"> Home</a>
          <a href="#" class="btn">About </a>
          <a href="#" class="btn">Products</a>

        </div>
        <div class="box">
          <h3>Contact info</h3>
          <a href="#" class="btn"> Home</a>
          <a href="#" class="btn">About </a>
          <a href="#" class="btn">Products</a>

        </div>
        <div class="box">
          <h3>locations </h3>
          <a href="#" class="btn"> Home</a>
          <a href="#" class="btn">About </a>
          <a href="#" class="btn">Products</a>

        </div>
        <h1 class="credit"> Created By <span> Anhara Akter</span> </h1>
      </div>

    </footer>


    <!-- footer ends -->
      

      <!-- end main section  -->
      <!-- script js -->
      <script src="/assets/js/script.js"></script>

  </body>
</html>