 <!-- footer starts -->
 <footer class="footer-section">
    <div class="box-container">
      
      <div class="box">
        <h3> Quick links </h3>
        <a href="#" class="btn"> Home</a>
        <a href="#" class="btn">About </a>
        <a href="#" class="btn">Products</a>

      </div>
      <div class="box">
        <h3>Contact info</h3>
        <a href="#" class="btn"> Home</a>
        <a href="#" class="btn">About </a>
        <a href="#" class="btn">Products</a>

      </div>
      <div class="box">
        <h3>locations </h3>
        <a href="#" class="btn"> Home</a>
        <a href="#" class="btn">About </a>
        <a href="#" class="btn">Products</a>

      </div>
      <h1 class="credit"> Created By <span> Anhara Akter</span> </h1>
    </div>

  </footer>


  <!-- footer ends -->

    <!-- script js -->
    <script src="/js/index.js"></script>

  </body>
</html>