:root{
    --green : #2c9914;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    font-weight: normal;
    font-family: cursive;
}
*::selection{
    background: var(--green);
    color: #fff;
}